:root {
    --primary-color: #fff;
    --secondary-color: #ce3535;
    --tertiary-color: #644d4d;
    --logo-font: 'Josefin Sans';
    --subheader-font: Quicksand;
    --text-font: Montserrat;
}

body {
    margin: 0;
}

img[src$='.svg'] {
    width: 50px;
}

header {
    background-color: var(--secondary-color);
    color: #fff;
}