/****** General Styling  ******/
:root {
    --primary-color: #fff;
    --secondary-color: #ce3535;
    --tertiary-color: #644d4d;
    --logo-font: 'Josefin Sans';
    --subheader-font: Quicksand;
    --text-font: Montserrat;
}

img[src$='.svg'] {
    width: 30px;
}

body {
    margin: 0;
    display: grid;
    grid-template: 1fr 3fr / 1fr 4fr;
}

/****** Header  ******/
header {
    padding: 30px;
    grid-row: 1 / 3;
    background-color: var(--secondary-color);
    color: #fff;
}

.logo {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    margin-bottom: 30px;
}

h1 {
    font-family: var(--logo-font);
    font-size: 2.5rem;
}

.logo .logo-icon {
    width: 100px;
}

.dashboard-menu {
    display: grid;
    gap: 50px;
    font-family: var(--subheader-font);
}

.menu-item, .options-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: start;
    align-items: center;
}

/****** Account Bar  ******/
section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 80px 150px;

}

/* .search, .account, .greeting, .actions {
    border: 1px solid red;
} */

.search {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.search-icon {
    justify-self: center;
}

.search-bar {
    width: 90%;
    height: 30px;
    background-color: #dadada;
    border-radius: 30px;
}

.account {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: end;
    align-items: center;
}

.greeting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
}

.profile-icon {
    border-radius: 50%;
    width: 80px;
}

.profile-icon.account-icon {
    width: 50px;
}

.actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.actions button {
    background-color: red;
}

/****** Main  ******/
main {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

.project-cards {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    background-color: #efefef;
}